@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  text-align: center;
  margin:0;
  padding:0;

  height: 100%; width: 100%;
  overflow: hidden;

  div, span, input {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.05em;

    color: #666666;
  }
  input:focus, button:focus, input:active, button:active {
    outline: none;
  }


  .background {
    height: 810px;
    width: 375px;
    margin: 0 auto;

    .screen {
      width: 100%;
      height: 100%;
      width: 375px;

      .sky-background {
        width: 375px;
        height: 300px;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, #54B4F9 5.67%, #FFFFFF 127%);
      }
      .panel-1 {
        position: absolute;
        width: 375px;
        height: 781px;
        top: 29px;
        border-radius: 30px 30px 0 0;

        background: #FFF;
        box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
      }
      .panel-2 {
        position: absolute;
        width: 375px;
        height: 531px;
        top: 279px;
        border-radius: 30px 30px 0 0;

        background: #FFF;
        box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
      }
      .first {
        .location {
          position: relative;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          margin: 28px auto;

          color: #999999;
        }
        .white-shadow {
          position: absolute;
          height: 79px;
          width: 100%;
          background: linear-gradient(180deg, #FFFFFF 55.7%, rgba(255, 255, 255, 0) 100%);
          z-index: 20;
        }
        .search-bar {
          background: #F3F3F3;
          height: 40px;
          width: 335px;
          margin: 0 auto;
          border-radius: 5px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          input {
            background: rgba(255, 255, 255, 0);
            width: 295px;
            border: none;
            padding: 3px 15px;
            // font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.05em;
            color: #000000;
          }
          button {
            background: rgba(255, 255, 255, 0);
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 0 5px 5px 0;
          }
          button:hover {
            background: rgba(100, 100, 100, 0.1);
          }
        }
        .town-list {
          position: absolute;
          // background-color: #CCC;
          overflow-x: auto;
          overflow-y: auto;
          margin-top: 40px;
          width: 335px;
          height: 627px;

          padding: 20px;
          z-index: 1;
          .title {
            position: relative;
            width: 355px;
            right: 145px;
            font-family: Barlow;
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.05em;
            color: #AAAAAA;
          }
          .town-list-item {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            width: 100%;
            border: none;
            background: rgba(255, 255, 255, 0);
            border-radius: 5px;
            padding: 0 15px;
            .temp {
              font-weight: 300;
              line-height: 19px;
              font-size: 16px;
            }
            .name {
              color: #666666;
              font-weight: normal;
              line-height: 22px;
              font-size: 18px;
            }
          }
          .activeItem {
            background: #ECF7FD;
            .name {font-weight: 500;}
            button {
              height: 40px;
              width: 40px;
              margin-right: -15px;
              margin-left: 5px;
              background: rgba(255, 255, 255, 0);
              border: none;
              border-radius: 0 5px 5px 0;
              color: red;
              font-size: 20px;
            }
            button:hover {
              background: rgba(100, 100, 100, 0.1);
            }
          }
        }
      }
      .second {
        .date-and-location {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          span {
            line-height: 48px;
            margin: 0 0 0 20px;

            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #999999;
          }
          button {
            height: 48px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            max-width: 177px;
            background: rgba(13, 159, 234, 0.08);
            border-radius: 0 30px 0 30px;
            border: none;
            padding: 0 24px;

            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #0DA0EA;
          }
        }
        .tabs {
          display: flex;
          flex-wrap: wrap;
          height: 343px;
          width: 375px;
          .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 114px;
            width: 125px;
          }
          .tab-weather {
            .i01d {background-image: url(./icons/1d.png);}
            .i02d {background-image: url(./icons/2d.png);}
            .i03d {background-image: url(./icons/3d.png);}
            .i04d {background-image: url(./icons/4d.png);}
            .i09d {background-image: url(./icons/9d.png);}
            .i10d {background-image: url(./icons/10d.png);}
            .i11d {background-image: url(./icons/11d.png);}
            .i13d {background-image: url(./icons/13d.png);}
            .i50d {background-image: url(./icons/50d.png);}

            .i01n {background-image: url(./icons/1n.png);}
            .i02n {background-image: url(./icons/2n.png);}
            .i03n {background-image: url(./icons/3d.png);}
            .i04n {background-image: url(./icons/4d.png);}
            .i09n {background-image: url(./icons/9d.png);}
            .i10n {background-image: url(./icons/10n.png);}
            .i11n {background-image: url(./icons/11d.png);}
            .i13n {background-image: url(./icons/13d.png);}
            .i50n {background-image: url(./icons/50d.png);}

            .icon {
              position: relative;
              background-size: contain;
              height: 80px;
              width: 80px;
            }
            .weather {
              position: relative;
              bottom: 20px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.05em;
              color: #000000;
            }
          }
          .tab-temp {
            span:first-child {
              position: relative;
              left: 7px;
              font-style: normal;
              font-weight: 300;
              font-size: 64px;
              line-height: 64px;
              color: #000;
              margin-right: 5px;
            }
            span:last-child {
              position:relative;
              bottom: 30px;
              left: 5px;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
            }
          }
          .tab-min-max-temp {
            .temp {
              font-family: Barlow;
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;
              margin: 12px;
              color: #666666;
            }
          }
        }
        .tab-icon-num-text {
          .icon {}
          .number {
            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.05em;
            color: #444444;
          }
          .text {
            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
            line-height: 10px;
            letter-spacing: 0.1em;
            margin-top: 5px;
            color: #999999;
          }
        }
        .days-slider {
          position: absolute;
          overflow-y: auto;
          bottom: 9px;
          height: 131px;
          width: 355px;
          padding: 0 10px;
          display: flex;
          flex-flow: nowrap;
          .days-slider-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 101px;
            width: 95px;
            min-width: 95px;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            margin: 0 10px;
          }
        }
      }
    }
  }
}
